*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(20, 24, 22, 0.641);
}

.grid {
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid > button {
    border: 1px solid white;
    outline: none;
    background-color: rgba(106, 103, 15, 0.75);
    font-size: 2rem;
    cursor: pointer;
}

.grid>button:hover {
    background-color: rgba(106, 103, 15, 0.9);
    transform: scale(1.1);
}

.big {
    grid-column: span 2;
}

.outputs {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    
    word-wrap: break-word;
    word-break: break-all;
}

.out1 {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.out2 {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}